// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome{
	margin: 10px auto;
	width: 500px;
	border: 3px dashed #D0D050;
	border-radius: 10px;
	background-color: #ff0030;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	text-align: center;
	text-decoration: underline;
	color: #fff;
	padding: 20px;
}

.container1{
 	margin: 10px auto;
 	padding: 20px;
 	width: 500px;
 	border: 2px dashed #D0D050;
 	font-family: "Times New Roman", Times, serif;
 	border-radius: 10px;
 	text-align: center;
 	background-color: #F87217;
 	font-size: 20px;
 	font-style: italic;
 	font-weight: bold;
}
.link{
 	text-decoration: none;
 	color: #fff;
}
.wrapper{
	margin: 10px auto;
	width: 500px;
	border: 3px dashed #D0D050;
	border-radius: 10px;
	background-color: #ff0030;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	color: #fff;
	padding: 20px;
}
.subMenu{
	margin: 5px auto;
	padding: 20px;
	width: 400px;
	font-family: "Times New Roman", Times, serif;
	background-color: #F87217;
	border-radius: 10px;
	text-align:left;
	font-style: none;
	font-size: 20px;
}
.subMenu1{
	padding: 10px;
	display: none;
}
.page-header{
	margin-top: 0px;
}
.panel-body{
	padding-top: 0px;
}
.featuredImg{
	width:100%;
	height: 300px;
	margin-bottom: 15px;
}
body{
	margin-bottom: 80px;
}